body, html, form {
    margin: 0px;
    padding: 0px;
}

/*Background*/

.Login, .Register, .Recovery, .RecoverPass {
    background: url(https://wallpaperscraft.com/image/background_faded_stains_light_47125_602x339.jpg) no-repeat 0 0 scroll;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 768px;
    min-width: 1024px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.Dashboard {
    background: url(https://wallpaperscraft.com/image/background_faded_stains_light_47125_602x339.jpg) no-repeat 0 0 scroll;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 768px;
    min-width: 1024px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.informatie {
    background-color: rgba(47, 42, 111, 0.69);
    border: none;
    box-shadow: 0px 10px 5px rgba(47, 42, 111, 0.66), 0px -10px 5px rgba(47, 42, 111, 0.66);
    margin-top: 300px;
}



/*LOGIN CSS*/



/*Gives the LoginMenu all its Style*/

.LoginMenu {
    background-color: rgba(172, 172, 172, 0.25);
    border: solid;
    border-color: rgba(176, 173, 173, 0.60);
    border-radius: 7px;
    border-width: 2px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 370px;
}

/*Gives the LoginText all its Style*/

.LoginText {
    background-color: rgba(43, 43, 43, 0.40);
    border: none;
    border-radius: 3px;
    color: rgb(193, 193, 193);
    margin-left: 25px;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 20px;
}

/*Gives the txtPassword of Login a little bottom border*/

.Login #txtPassword {
    margin-bottom: 15px;
}

/*Gives the Login RBT his Style*/

.Login #rbtLogged {
    color: rgba(43, 43, 43, 0.7);
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 10px;
}

/*Gives the Login RBT his Color*/

.Login .color {
    color: rgba(43, 43, 43, 0.7);
}

/*Gives the Hyper link from Login to Register Style*/

.Login #hlRegister {
    color: rgba(43, 43, 43, 0.7);
    margin-left: 100px;
    text-decoration: none;
}

/*Gives the Hyper link from Login to Recovery Style*/

.Login #hlRecovery {
    color: rgba(43, 43, 43, 0.7);
    margin-left: 212px;
    text-decoration: none;
}

/*Gives the Login Button Style*/

.Login .button {
    background-color: rgba(43, 43, 43, 0.50);
    border: none;
    border-radius: 3px;
    color: rgba(176, 173, 173, 0.70);
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    margin-top: 10px;
}

/*Gives the Error message in LoginStyle*/

.Login #lblFalseID {
    margin-top: 110px;
}



/*REGISTERY CSS*/



/*Gives the RegisterMenu all its Style*/

.Register .RegisterMenu {
    background-color: rgba(172, 172, 172, 0.25);
    border: solid;
    border-color: rgba(176, 173, 173, 0.60);
    border-radius: 7px;
    border-width: 2px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 370px;
}

/*Gives the RegisterText all its Style*/

.Register .RegisterText {
    background-color: rgba(43, 43, 43, 0.40);
    border: none;
    border-radius: 3px;
    color: rgb(193, 193, 193);
    margin-left: 25px;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 20px;
}

/*Gives the Register Button Style*/

.Register .button {
    background-color: rgba(43, 43, 43, 0.50);
    border: none;
    border-radius: 3px;
    color: rgba(176, 173, 173, 0.70);
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    margin-top: 17px;
}

/*Gives the txtEmail in Register a little balk on the bottom*/

.Register #txtEmail {
    margin-bottom: 20px;
}

/*Gives the Error message in Register Style*/

.Register #lblFalseID {
    margin-top: 10px;
}



/*RECOVERY CSS*/



/*Gives the RegisterMenu all its Style*/

.Recovery .RecoveryMenu {
    background-color: rgba(172, 172, 172, 0.25);
    border: solid;
    border-color: rgba(176, 173, 173, 0.60);
    border-radius: 7px;
    border-width: 2px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
    width: 370px;
}

/*Gives the RecoveryText all its Style*/

.Recovery .RecoveryText {
    background-color: rgba(43, 43, 43, 0.40);
    border: none;
    border-radius: 3px;
    color: rgb(193, 193, 193);
    margin-left: 25px;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 20px;
}

/*Gives the Recovery Button Style*/

.Recovery .button {
    background-color: rgba(43, 43, 43, 0.50);
    border: none;
    border-radius: 3px;
    color: rgba(176, 173, 173, 0.70);
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    margin-top: 15px;
}

/*Gives the Error message in Recovery Style*/

.Recovery #lblFalseID {
    margin-top: 10px;
}



/*RECOVERYPASS CSS*/



/*Gives the RecoveryPassMenu style*/

.RecoverPass .RecoverPassMenu {
    background-color: rgba(172, 172, 172, 0.25);
    border: solid;
    border-color: rgba(176, 173, 173, 0.60);
    border-radius: 7px;
    border-width: 2px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
    width: 370px;
}

/*Gives the RecoveryPass Button Style*/

.RecoverPass .button {
    background-color: rgba(43, 43, 43, 0.50);
    border: none;
    border-radius: 3px;
    color: rgba(176, 173, 173, 0.70);
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    margin-top: 15px;
}



/*DashBoard CSS BraceYourSelf*/



.Dashboard {
    font-family: Arial;
}

.Dashboard ul {
        -webkit-padding-start: 0px;
        margin-top: 0px;
    }

.Dashboard .Sidebar {
        background-color: rgba(18, 18, 18, 0.80);
        color: rgb(215, 215, 215);
        float: left;
        height: 979px;
        margin: 0;
        padding: 0;
        width: 2.65%;
    }

.Dashboard li {
    list-style: none;
}

.Dashboard .Sidebar ul {
    padding-left: 0px;
}

.Dashboard .Sidebar img {
        height: 34px;
        margin-left: 8px;
        margin-top: 8px;
        width: 32px;
    }

.Dashboard hr {
        border-bottom-width: 0px;
        color: rgb(205, 205, 205);
        margin: 0px;
        padding: 0px;
    }

.Dashboard .TotalBotsSidebar {
        color: rgb(215, 215, 215);
        float: left;
        width: 11.24%;
    }

.Dashboard .AmountTotal {
        background-color: rgba(18, 18, 18, 0.60);
        float: left;
        font-size: 12px;
        font-weight: 500;
        width: 100%;
    }

.Dashboard .AmountTotal ul {
            margin-left: 10px;
            margin-top: 10px;
        }

.Dashboard .AmountGraphs {
        background-color: rgba(18, 18, 18, 0.40);
        float: left;
        height: 943px;
        width: 100%;
    }

.Dashboard .AmountGraphs ul {
            font-size: 14px;
            margin-left: 10px;
        }

.Dashboard .TitleBar{
    margin-top:11.5px;
    display:inline;
    float:left;
    width:86.11%;
    color: rgb(202, 202, 202);
    margin-bottom:10px;
}

.Dashboard .Title{
    margin-right:0px;
    display:inline;
}

.Dashboard .Title h1{
    display:inline;
    font-family:Arial;
    font-size:16px;
    margin-left:18px;
    margin-bottom:0px;
    font-weight:100;
}

.Dashboard .Tabs{
    display:inline;
    font-size:12.6px;
}

.Dashboard .Tabs ul{
    display:inline;
}

.Dashboard .Tabs li{
    display:inline;
    float:right;
    margin-right:11px;
}

.Dashboard .Tabs a{
    text-decoration:none;
    color: rgb(202, 202, 202);
}

.Dashboard .Tabs .right{
    margin-right:15.5px;
}

.Dashboard .FirstLine {
    margin-bottom:20.5px;
}

.Dashboard .Summary {
        display: inline;
        height: 200px;
        margin-top: 0px;
        font-size:12px;
    }

.Dashboard .Summary div {
        background-color: rgba(18, 18, 18, 0.40);
        display: inline;
        float: left;
        height: 75px;
        margin-left: 17px;
        color: rgb(215, 215, 215);
        padding-top:11.5px;
        padding-left:11.5px;
    }

.Dashboard .Summary .ConnectionsToday, .ConnectionsWeek, .ConnectionsMonth {
        width: 12.6%;
    }

.Dashboard .Summary .OnnlineNow {
        width: 19.7%;
    }

.Dashboard .Summary .ConnectionsTotal {
        width: 20.4%;
    }

.Dashboard .Summary .Number{
    font-size:39px;
}

.Dashboard .SecondLine{
    margin-top:125px;
}

.Dashboard .Charts{
    display:inline;
    color: rgb(215, 215, 215);
    font-size:12.8px;
}

.Dashboard .Charts .CountryMap{
    margin-left:17px;
    margin-top:17px;
    width:41.4%;
    height:200px;
    display:inline;
    float:left;
}

.Dashboard .Charts .CountryMap .CountryMapName{
    background-color: rgba(18, 18, 18, 0.60);
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
}

.Dashboard .Charts .CountryMap .CountryMapChart{
    background-color: rgba(18, 18, 18, 0.40);
    height:483px;
}

.Dashboard .Charts .CountryChart{
    margin-left:17px;
    margin-top:17px;
    width:20.3%;
    height:200px;
    display:inline;
    float:left;
}

.Dashboard .Charts .CountryChart .CountryChartName{
    background-color: rgba(18, 18, 18, 0.60);
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
}

.Dashboard .Charts .CountryChart .CountryChartGraph{
    background-color: rgba(18, 18, 18, 0.40);
    height:483px;
}

.Dashboard .Charts .OSChart{
    margin-left:17.8px;
    margin-top:17px;
    width:21%;
    height:200px;
    display:inline;
    float:left;
}

.Dashboard .Charts .OSChart .OSChartName{
    background-color: rgba(18, 18, 18, 0.60);
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
}

.Dashboard .Charts .OSChart .OSChartGraph{
    background-color: rgba(18, 18, 18, 0.40);
    height:483px;
}