body, html, form {
    margin: 0px;
    padding: 0px;
}

/*Background*/

.Login, .Register, .Recovery, .RecoverPass, .Dashboard{
    background: url('../Image/background_faded_stains_light_47125_1920x1080.jpg') no-repeat 0 0 scroll;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 768px;
    min-width: 1024px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.informatie {
    background-color: rgba(47, 42, 111, 0.69);
    border: none;
    box-shadow: 0px 10px 5px rgba(47, 42, 111, 0.66), 0px -10px 5px rgba(47, 42, 111, 0.66);
    margin-top: 300px;
}

/*Global CSS*/

.color1{
    background-color: rgba(18, 18, 18, 0.4);
}

.color2{
    background-color: rgba(18, 18, 18, 0.60);
}

/*LOGIN CSS*/



/*Gives the LoginMenu all its Style*/

.LoginMenu {
    border-width: 2px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 370px;
}

/*Gives the LoginText all its Style*/

.LoginText {
    border: none;
    color: rgb(215, 215, 215);
    margin-left: 25px;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 20px;
}

/*Gives the txtPassword of Login a little bottom border*/

.Login #txtPassword {
    margin-bottom: 15px;
}

/*Gives the Login RBT his Style*/

.Login #rbtLogged {
    color: rgb(215, 215, 215);
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 10px;
}

/*Gives the Login RBT his Color*/

.Login .color {
    color: rgba(18, 18, 18, 0.60);
}

/*Gives the Hyper link from Login to Register Style*/

.Login #hlRegister {
    color: rgba(18, 18, 18, 0.60);
    margin-left: 100px;
    text-decoration: none;
}

/*Gives the Hyper link from Login to Recovery Style*/

.Login #hlRecovery {
    color: rgba(18, 18, 18, 0.60);
    margin-left: 212px;
    text-decoration: none;
}

/*Gives the Login Button Style*/

.Login .button {
    color: rgb(215, 215, 215);
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    margin-top: 10px;
    border:none;
}

/*Gives the Error message in LoginStyle*/

.Login #lblFalseID {
    margin-top: 110px;
}



/*REGISTERY CSS*/



/*Gives the RegisterMenu all its Style*/

.Register .RegisterMenu {

    border-width: 2px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 370px;
}

/*Gives the RegisterText all its Style*/

.Register .RegisterText {
    border: none;
    color: rgb(215, 215, 215);
    margin-left: 25px;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 20px;
}

/*Gives the Register Button Style*/

.Register .button {
    border: none;
    color: rgb(215, 215, 215);
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    margin-top: 20px;
}

/*Gives the txtEmail in Register a little balk on the bottom*/

.Register #txtEmail {
    margin-bottom: 20px;
}

/*Gives the Error message in Register Style*/

.Register #lblFalseID {
    margin-top: 10px;
}



/*RECOVERY CSS*/



/*Gives the RegisterMenu all its Style*/

.Recovery .RecoveryMenu {
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
    width: 370px;
}

/*Gives the RecoveryText all its Style*/

.Recovery .RecoveryText {
    border: none;
    color: rgb(215, 215, 215);
    margin-left: 25px;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 20px;
}

/*Gives the Recovery Button Style*/

.Recovery .button {
    border: none;
    color: rgb(215, 215, 215);
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    margin-top: 6px;
}

/*Gives the Error message in Recovery Style*/

.Recovery #lblFalseID {
    margin-top: 10px;
}



/*RECOVERYPASS CSS*/



/*Gives the RecoveryPassMenu style*/

.RecoverPass .RecoverPassMenu {
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
    width: 370px;
}

/*Gives the RecoveryPass Button Style*/

.RecoverPass .button {
    border: none;
    color: rgb(215, 215, 215);
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    margin-top: 15px;
}



/*DashBoard CSS BraceYourSelf*/



.Dashboard {
    font-family: Arial;
}

.Dashboard ul {
        -webkit-padding-start: 0px;
        margin-top: 0px;
    }

.Dashboard .Sidebar {
        background-color: rgba(18, 18, 18, 0.80);
        color: rgb(215, 215, 215);
        float: left;
        height: 979px;
        margin: 0;
        padding: 0;
        width: 2.65%;
    }

.Dashboard li {
    list-style: none;
}

.Dashboard .Sidebar ul {
    padding-left: 0px;
}

.Dashboard .Sidebar img {
        height: 34px;
        margin-left: 8px;
        margin-top: 8px;
        width: 32px;
    }

.Dashboard hr {
        border-bottom-width: 0px;
        color: rgb(205, 205, 205);
        margin: 0px;
        padding: 0px;
    }

.Dashboard .TotalBotsSidebar {
        color: rgb(215, 215, 215);
        float: left;
        width: 11.24%;
    }

.Dashboard .AmountTotal {
        float: left;
        font-size: 12px;
        font-weight: 500;
        width: 100%;
    }

.Dashboard .AmountTotal ul {
            margin-left: 10px;
            margin-top: 10px;
        }

.Dashboard .AmountGraphs {
        float: left;
        height: 943px;
        width: 100%;
    }

.Dashboard .AmountGraphs ul {
            font-size: 14px;
            margin-left: 10px;
}

.Dashboard .TitleBar{
    margin-top:11.5px;
    display:inline;
    float:left;
    width:86.11%;
    color: rgba(18, 18, 18, 0.70);
    margin-bottom:10px;
}

.Dashboard .Title{
    margin-right:0px;
    display:inline;
}

.Dashboard .Title h1{
    display:inline;
    font-family:Arial;
    font-size:16px;
    margin-left:18px;
    margin-bottom:0px;
    font-weight:100;
}

.Dashboard .Tabs{
    display:inline;
    font-size:12.6px;
}

.Dashboard .Tabs ul{
    display:inline;
}

.Dashboard .Tabs li{
    display:inline;
    float:right;
    margin-right:11px;
}

.Dashboard .Tabs a{
    text-decoration:none;
    color: rgba(18, 18, 18, 0.70);
}

.Dashboard .Tabs .right{
    margin-right:15.5px;
}

.Dashboard .FirstLine {
    margin-bottom:12px;
}

.Dashboard .Summary {
        display: inline;
        height: 200px;
        font-size:12px;
    }

.Dashboard .Summary div {
        display: inline;
        float: left;
        height: 75px;
        margin-left: 17px;
        color: rgb(215, 215, 215);
        padding-top:11.5px;
        padding-left:11.5px;
    }

.Dashboard .Summary .ConnectionsToday, .ConnectionsWeek, .ConnectionsMonth {
        width: 12.6%;
    }

.Dashboard .Summary .OnnlineNow {
        width: 19.7%;
    }

.Dashboard .Summary .ConnectionsTotal {
        width: 20.4%;
    }

.Dashboard .Summary .Number{
    font-size:39px;
}

.Dashboard .SecondLine{
    margin-top:110px;
}

.Dashboard .Charts{
    display:inline;
    color: rgb(215, 215, 215);
    font-size:12.8px;
}

.Dashboard .Charts .CountryMap{
    margin-left:17px;
    margin-top:15px;
    width:41.4%;
    height:200px;
    display:inline;
    float:left;
}

.Dashboard .Charts .CountryMap img{
    width:800px;
    height:450px;
}

.Dashboard .Charts .CountryMap .CountryMapName{
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
}

.Dashboard .Charts .CountryMap .CountryMapChart{
    height:439px;
}

.Dashboard .Charts .CountryChart{
    margin-left:17px;
    margin-top:15px;
    width:20.3%;
    height:200px;
    display:inline;
    float:left;
}

.Dashboard .Charts .CountryChart .CountryChartName{
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
}

.Dashboard .Charts .CountryChart .CountryChartGraph{
    height:439px;
}

.Dashboard .Charts .OSChart{
    margin-left:17.8px;
    margin-top:15px;
    width:21%;
    height:200px;
    display:inline;
    float:left;
}

.Dashboard .Charts .OSChart .OSChartName{
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
}

.Dashboard .Charts .OSChart .OSChartGraph{
    height:439px;
}

.Dashboard .CountGrid{
    display:inline;
    color: rgb(215, 215, 215);
    font-size:12.8px;
}

.Dashboard .CountGrid .CountryCount{
    margin-left:17.8px;
    margin-top:285px;
    width:41.4%;
    display:inline;
    float:left;
}

.Dashboard .CountGrid .CountryCount .CountryCountName{
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
    font-size:12.8px;
}

.Dashboard .CountGrid .CountryCount .CountryCountGraph{
    height:110px;
}

.Dashboard .Tasks{
    margin-left:17.8px;
    margin-top:17.8px;
    width:84.4%;
    display:inline;
    float:left;
    color: rgb(215, 215, 215);
}

.Dashboard .Tasks #lblDropdown,#lblFilter,#lblAmount{
    float:right;
    margin-right:15px;
    margin-left:80px;
}

.Dashboard .Tasks #lblError{
    color:rgb(186, 0, 0);
    margin-left:155px;
}

.Dashboard .Tasks .TaskName{
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
}

.Dashboard .Tasks .TasksGrid{
    height:740px;
}

.Dashboard .Tasks #ddTask{
    background-color:rgba(0, 0, 0, 0.00);
    color: rgb(215, 215, 215);
    border-color:rgb(215, 215, 215);
    font-size:15px;
    padding-left: 10px;
}

.Dashboard .Tasks #txtFilter,#txtAmount{
    background-color:rgba(0, 0, 0, 0.00);
    color: rgb(215, 215, 215);
    border-color:rgb(215, 215, 215);
    border: 1px solid;
    margin-top:5px;
    font-size:15px;
    padding-left: 10px;
}

.Dashboard .Tasks #ddTask option{
    background-color: rgba(255,255,255,.5);
    opacity: 0.6;
    color:grey;
}

.Dashboard .Tasks #btnSubmit{
    height:35px;
    width:80px;
    color: rgb(215, 215, 215);
    border:none;
    margin-top:20px;
}

.Dashboard .CountGrid .OSCount{
    margin-left:17.8px;
    margin-top:285px;
    width:42.2%;
    display:inline;
    float:left;
}

.Dashboard .CountGrid .OSCount .OSCountName{
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
}

.Dashboard .CountGrid .OSCount .OSCountGraph{
    height:110px;
}

.Dashboard .OnlineNowGrid{
    display:inline;
    color: rgb(215, 215, 215);
    font-size:12.8px;
}

.Dashboard .OnlineNowGrid .OnlineNow{
    margin-left:17.8px;
    margin-top:17.8px;
    width:84.5%;
    height:200px;
    display:inline;
    float:left;
}

.Dashboard .OnlineNowGrid .OnlineNow .OnlineNowName{
    padding-top:7px;
    padding-left:11.5px;
    height:22px;
}

.Dashboard .OnlineNowGrid .OnlineNow .OnlineNowGraph{
    height:103px;

}

.Dashboard .CountGrid .CountryCount .CountryCountGraph table, .Dashboard .CountGrid .OSCount .OSCountGraph table{
    width:775px;
    margin-left:10px;    
}

.Dashboard .OnlineNowGrid .OnlineNow .OnlineNowGraph table{
    width:1605px;
    margin-left:10px;
}

.Dashboard .Tasks .grdTask{
    width:1565px;
    margin-left:30px;
    font-size:12.8px;
}

.Dashboard .Tasks .grdTask tr{
    height:30px;
    font-weight:100;
}

.Dashboard .OnlineNowGrid .OnlineNow .OnlineNowGraph tr {
    height:26px;
    font-weight:100;
}
.Dashboard .CountGrid .CountryCount .CountryCountGraph tr, .Dashboard .CountGrid .OSCount .OSCountGraph tr{
    height:29px;
    font-weight:100;
}

::-webkit-scrollbar { 
    display: none; 
}

.Dashboard .CountGrid .Grid{
    margin-top: 10px;
    display:inline-block;
    overflow-y: scroll;
    height:90px;
}

.Dashboard .OnlineNowGrid .OnlineNow .Grid{
    margin-top: 10px;
    display:inline-block;
    overflow-y: scroll;
    height:80px;
}

.chart {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 170px;
  margin-left:25px;
  text-align: center;
  font-size:20px;
  margin-top:20px;
    top: -4px;
    left: 0px;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent {
  display: inline-block;
  line-height: 140px;
  z-index: 2;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 20px;
}
.Dashboard table{
    border-bottom:rgba(255, 255, 255, 0.06);
}

.Dashboard .TasksGrid a{
    color: rgb(215, 215, 215);
    text-decoration:none;
}

.Dashboard .TasksGrid input,select{
    background-color:rgba(0, 0, 0, 0.00);
    color: rgb(215, 215, 215);
    border-color:rgb(215, 215, 215);
    font-size:15px;
    border: 1px solid;
}

.Dashboard .TasksGrid option{
    background-color: rgba(255,255,255,.5);
    opacity: 0.6;
    color:grey;
}